/* .container {
    position: relative;
    width: 400px;
    height: 400px;
    outline: tomato 1px solid;
    margin-left: 400px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: grey;
    width: 45%;
    height: 100%;
    transform: translateX(-80%);
}

.overlay-div {
    writing-mode: vertical-rl;
    color: white;
    text-align: center;
    padding: 120px 5px;
}

.overlay:hover {
    transform: translate(0);
}

.submeni-item {
    writing-mode: vertical-rl;
    padding-left: 60px;
}

.overlay-text {
    writing-mode: vertical-rl;
    transform: translateX(-30%);
} */
.container {
    position: fixed;
    left: 0;
    top: 0;
    height: 340px;
    width: 30px;
    background-color: gray;
    transition: width 1s;
    overflow-x: hidden;
}

.container-div {
    writing-mode: vertical-rl;
    color: white;
    text-align: center;
    padding: 120px 5px
}
.submenu{
    display: none;
    padding-left: 30px;
}