
.container {
    position: fixed;
    left: 0;
    top: 0;
    height: 340px;
    width: 30px;
    background-color: gray;
    transition: width 1s;
    overflow-x: hidden;
}

.container:hover {
    width: 200px;
}

.text {
    writing-mode: vertical-rl;
    color: white;
    text-align: center;
    padding: 120px 5px;
}

.overlay {
    display: none;
    padding-left: 30px;
}

.container:hover .overlay {
    display: block;
}

.container:hover .text {
    display: none;
}
.item {
    list-style: none;
    position: relative;
}
.item-link {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.item-link:hover {
    color: orange;
}

.item-link::before {
    content: '';
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    background-color: orange;
    border: 1px black solid;
    transform: rotate(45deg);
    top: 21px;
    left: 0;
}